config COMMON_CLK_HI3519
	tristate "Hi3519 Clock Driver"
	depends on ARCH_HISI || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3519.

config COMMON_CLK_HI3516A
	tristate "Hi3516A Clock Driver"
	depends on ARCH_HI3516A || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3516A.

config COMMON_CLK_HI3516CV500
	tristate "Hi3516CV500 Clock Driver"
	depends on ARCH_HI3516CV500 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3516CV500.

config COMMON_CLK_HI3516EV200
	tristate "Hi3516EV200 Clock Driver"
	depends on ARCH_HI3516EV200 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3516EV200.

config COMMON_CLK_HI3516EV300
	tristate "Hi3516EV300 Clock Driver"
	depends on ARCH_HI3516EV300 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3516EV300.

config COMMON_CLK_HI3518EV300
	tristate "Hi3518EV300 Clock Driver"
	depends on ARCH_HI3518EV300 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3518EV300.

config COMMON_CLK_HI3516DV200
	tristate "Hi3516DV200 Clock Driver"
	depends on ARCH_HI3516DV200 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3516DV200.

config COMMON_CLK_HI3516DV300
	tristate "Hi3516DV300 Clock Driver"
	depends on ARCH_HI3516DV300 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3516DV300.

config COMMON_CLK_HI3556V200
	tristate "Hi3556V200 Clock Driver"
	depends on ARCH_HI3556V200 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3556V200.

config COMMON_CLK_HI3559V200
	tristate "Hi3559V200 Clock Driver"
	depends on ARCH_HI3559V200 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3559V200.

config COMMON_CLK_HI3518EV20X
	tristate "Hi3518EV20X Clock Driver"
	depends on ARCH_HI3518EV20X || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3516A.

config COMMON_CLK_HI3536DV100
	tristate "Hi3536DV100 Clock Driver"
	depends on ARCH_HI3536DV100 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3536DV100.

config COMMON_CLK_HI3559AV100
	tristate "Hi3559AV100 Clock Driver"
	depends on ARCH_Hi3559AV100 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3559av100.

config COMMON_CLK_HI3521A
	tristate "Hi3521A Clock Driver"
	depends on ARCH_HI3521A || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3521A.

config COMMON_CLK_HI3531A
	tristate "Hi3531A Clock Driver"
	depends on ARCH_HI3531A || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI_BVT
	help
	  Build the clock driver for hi3531A.

config COMMON_CLK_HI3556AV100
	tristate "Hi3556AV100 Clock Driver"
	depends on ARCH_HI3556AV100 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3556av100.
	  
config COMMON_CLK_HI3519AV100
	tristate "Hi3519AV100 Clock Driver"
	depends on ARCH_HI3519AV100 || COMPILE_TEST
	select RESET_HISI
	default ARCH_HISI
	help
	  Build the clock driver for hi3519av100.

config COMMON_CLK_HI6220
	bool "Hi6220 Clock Driver"
	depends on ARCH_HISI || COMPILE_TEST
	default ARCH_HISI
	help
	  Build the Hisilicon Hi6220 clock driver based on the common clock framework.

config RESET_HISI
	bool "HiSilicon Reset Controller Driver"
	depends on ARCH_HISI || COMPILE_TEST || ARCH_HISI_BVT
	select RESET_CONTROLLER
	help
	  Build reset controller driver for HiSilicon device chipsets.

config STUB_CLK_HI6220
	bool "Hi6220 Stub Clock Driver"
	depends on COMMON_CLK_HI6220 && MAILBOX
	help
	  Build the Hisilicon Hi6220 stub clock driver.
