#
# Sensor device configuration
#

config HIEDMAC
	tristate "Hisilicon EDMAC Controller support"
	depends on (ARCH_HI3559AV100 || ARCH_HI3519AV100 || ARCH_HI3556AV100) || ((ARCH_HI3516CV500 || ARCH_HI3516DV300 || ARCH_HI3556V200 || ARCH_HI3559V200) && !HIEDMACV310) || ((ARCH_HI3516EV200 || ARCH_HI3516EV300 || ARCH_HI3518EV300 || ARCH_HI3516DV200) && !HIEDMACV310)
	help
	  The Direction Memory Access(EDMA) is a high-speed data transfer
	  operation. It supports data read/write between peripherals and
	  memories without using the CPU.
	  Hisilicon EDMA Controller(EDMAC) directly transfers data between
	  a memory and a peripheral, between peripherals, or between memories.
	  This avoids the CPU intervention and reduces the interrupt handling
	  overhead of the CPU.

if HIEDMAC

config HIEDMAC_CHANNEL_NUM
	int "hiedmac channel num"
	default "8"

endif
