if ARCH_NVT_IVOT_V7

menu "Novatek Video Platform Specific Features"

choice
	prompt "SOC families selection"
	depends on ARCH_NVT_IVOT_V7
	default NVT_IVOT_PLAT_NA51068

# To define new SOC type here CA9
config NVT_IVOT_PLAT_NA51089
	bool "To support na51089 series"
	select GENERIC_ALLOCATOR
	select ARCH_REQUIRE_GPIOLIB
	select CLKDEV_LOOKUP
	select COMMON_CLK
	select GENERIC_IRQ_CHIP
	select MULTI_IRQ_HANDLER
	select PINCTRL
	select ARM_GLOBAL_TIMER
	select HAVE_ARM_SCU
	select HAVE_ARM_TWD
	select COMMON_CLK_NA51089
	help
	  Support for Novatek's video processing platform.

# To define new SOC type here CA9
config NVT_IVOT_PLAT_NA51068
	bool "To support na51068 series"
	select GENERIC_ALLOCATOR
	select ARCH_REQUIRE_GPIOLIB
	select CLKDEV_LOOKUP
	select COMMON_CLK
	select GENERIC_IRQ_CHIP
	select MULTI_IRQ_HANDLER
	select PINCTRL
	select ARM_GLOBAL_TIMER
	select HAVE_ARM_SCU
	select HAVE_ARM_TWD
	help
	  Support for Novatek's video processing platform.

# To define new SOC type here CA9
config NVT_IVOT_PLAT_NA51055
	bool "To support na51055 series"
	select GENERIC_ALLOCATOR
	select ARCH_REQUIRE_GPIOLIB
	select CLKDEV_LOOKUP
	select COMMON_CLK
	select GENERIC_IRQ_CHIP
	select MULTI_IRQ_HANDLER
	select PINCTRL
	select ARM_GLOBAL_TIMER
	select HAVE_ARM_SCU
	select HAVE_ARM_TWD
	select COMMON_CLK_NA51055
	help
	  Support for Novatek's video processing platform.

endchoice

# To define the EVB board type based on your SOC type
choice
	prompt "Board type"
	default NVT_NT98321_EVB

config NVT_NT98321_EVB
	bool "NT98321 EVB board"
	depends on NVT_IVOT_PLAT_NA51068
	help
	  Enable this option to do NT98321 EVB.

config NVT_NT98520_EVB
	bool "NT98520 EVB board"
	depends on NVT_IVOT_PLAT_NA51055
	help
	  Enable this option to do NT98520 EVB.

config NVT_NT98560_EVB
	bool "NT98560 EVB board"
	depends on NVT_IVOT_PLAT_NA51089
	help
	  Enable this option to do NT98560 EVB.

config NVT_FPGA_EMULATION
	bool "FPGA emulation"
	help
	  Enable this option to do FPGA emulation
endchoice

config NVT_IM_UART
	bool "NVT IM 8250 compatible UART"
	depends on ARCH_NVT_IVOT_V7
	default y
	help
	  This option will configure the NVT IM UART HW setting.

config NVT_IM_LVD_RESET
	bool "NVT IM Low Voltage Detect Reset"
	depends on ARCH_NVT_IVOT_V7
	default n
	help
	  This option will configure the reset method.

endmenu

endif
