#
# arch/arm/mach-GM/platform-GM8126/Kconfig

if PLATFORM_GM8126

#config SYS_CLK
config CLOCK_TICK_RATE	
        int "AHB System Clock"
        default 240000000
        help
          Manual setting of AHB clock, must match the jumper setting on
          the board, or the system time won't be correctly calculated.
          Notice that even when AUTO_SYS_CLK is ON, this value is still
          required for adjusting minor time offsets. However, the influence
          should be within micro-second to nano-second scale.

config FTINTC010EX
	bool "FTINTC010EX supports 64 IRQs"
	default y

endif

